.app-container {
	max-width: 800px;
	margin: 0 auto;
	background: #eee;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.app-title {
	margin: 0;
	padding: 10px 0;
	text-align: center;
	letter-spacing: 1px;
	font-family: roboto, 'Helvetica Neue';
	font-weight: lighter;
}
.app-info {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 20px 0;
}
.app-body {
	width: 88%;
	margin: 10px auto;
	min-height: 150px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.questions-label {
	margin: 10px 0;
	color: #333;
	font-size: 20px;
	display: block;
}
.single-question-info {
	margin: 20px 0;
}
.single-q-label {
	font-size: 18px;
	color: #333;
	margin-bottom: 5px;
	display: block;
}
.single-a-label {
	font-weight: lighter;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-left: 15px;
	display: block;
}
.text-regular {
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #333;
	margin-right: 10px;
}
.text-bold {
	color: #0047ab;
	font-weight: 600;
}
